mulesoft/mulesoft12st/1_project_zero/src/main/mule/1_project_zero.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5ee9772c-5561-49af-b764-da067a9f5c49" doc:description="http configuration for  the listener" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="1_project_zeroFlow" doc:id="b5385073-14fb-471d-a8ab-7a91ebff8ba6" >
		<http:listener doc:name="Listener" doc:id="22abddd3-9144-419a-aab7-697ff80a3481" config-ref="HTTP_Listener_config" path="/project-zero" allowedMethods="GET">
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="42f2ecea-b151-4265-b07a-9bf6088c85dc" message='"START log"'/>
		<set-payload value='#["hello world from set payload"]' doc:name="Set Payload" doc:id="6a2d475d-56bb-4f04-9e8f-3a83cffef937" />
	</flow>
</mule>
